/* #region Header*/
/* .container-l{
    background: greenyellow;
} */
/* #endregion Header*/

/* #region main*/

/* .app-main {}

.container-s {}

.section-1 {} */

/* .find-your-plan{
    height: 200px;  
} */

/* .container-plan {}

/* .plan {
    height: 650px;

} */

/* .enterprise {
    height: 200px;

}

.container-contact-us {
    display: flex;


}

.contained-left {

    height: 400px;
}

.contained-right {

    height: 400px;
}

/* .features {
    height: 450px;
} */ 

/* .social-approvment {
    height: 250px;
} */

/* .free-tryal {
    height: 200px;
}
 */
/* .faq {
    height: 400px;
} */

#app-footer {
    height: 300px;
}

/* #endregion main*/