/* #region Header*/
.container-l{
    background: greenyellow;
}
/* #endregion Header*/

/* #region main*/

.app-main{

}
.container-s{
    
}

.section-1{
    height: 900px;
}
.find-your-plan{
    height: 200px;  
}

.container-plan{
    height: 800px;  
}
.plan{
    height: 650px;
}
/* #endregion main*/