* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* border: dashed black 1px; */
    font-size: 12px;
}

/* #region Utility*/

:root {
    
    --color-1: #b4d0e7;
    --color-2: #0061ff;
    --color-3: #b1b2b5;
    --color-4: #9797f5;
    --color-5: #a2d39b;
    --color-6: #61082b;
    --color-7: #b4d0e7;
    --color-8: #0093ce;
    --color-9: #0d2481;
    --color-10: #ffd830;
    --color-11: #77517e;
    --color-12: #d5001f;
    --color-13: #ff1c1c;
    
}

.bg-2 {
    background-color: var(--color-2);
}

.fa-check{
    color: var(--color-2);
}

a{
    color: var(--color-2);
}

.m-right-left {
    margin: 0 2rem;
}
.m-rigth{
   margin-right: 0.5rem;
}

.m-top {
    margin-top: 3rem;
}

.m-bottom-05rem {
    margin-bottom: 0.5rem;
}
.m-bottom-2rem {
   margin-bottom: 2rem;
}

.m-bottom-3rem {
   margin-bottom: 3rem;
}
.m-bottom-6rem {
   margin-bottom: 6rem;
}

.m-top-bottom {
    margin: 2rem 0;
}

.m-1rem {
    margin: 1rem;
}

.padding-07rem{
   padding: 0.7rem;
}

.font-size-3rem {
    font-size: 3rem;
}

.font-size-17rem {
   font-size: 1.7rem;
}

.border{
   border: 1px solid rgb(182, 182, 182);
}

img{
   width: 100%;
}


h1 {
    font-size: 5rem;
    font-weight: bold;
    width: 93%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.6rem;
    margin-top: 8rem;
}

.hr{
   transform: rotate(90deg);
   color:rgb(182, 182, 182);
   margin-left: 3rem;
   
}

/* #endregion Utility*/

/* #region header*/

#app-header {
     position: sticky;
     top: 0vh;
 }

 nav {
     height: 3rem;
     display: flex;
     background: white;
     align-items: center;
    }
 
 
    .nav-left {
     display: flex;
     width: 50%;
    }
    
 .nav-rigth {
     display: flex;
     justify-content: flex-end;
     width: 50%;
 }
 
 .nav-links {
     margin: 0.7rem;
     text-decoration: none;
    }

    .jumbotron {
     background-color: #b4d0e7;
     display: flex;
     justify-content: center;
    }
    
    .container-l {
        width: 70%;
     display: flex;
     flex-wrap: wrap;
    }

 .nav-rigth :last-child {
     color: white;
 }

 .nav-links img {
     height: 1rem;
    }

 .container-l-left {
     display: flex;
     flex-direction: column;
     width: 30%;
 }

 .container-l-left p {
     font-size: 14px;
 }

 .container-l-rigth {
     width: 70%;
     position: relative;
 }

 .container-l-rigth img {
     width: 100%;
     position: absolute;
 }

 .free-tryal-button {
     background-color: var(--color-2);
     color: white;
     text-decoration: none;
     width: fit-content;
     padding: 0.5rem;
     margin: 2rem 0;
 }

 /* #endregion header*/

 /* #region Main*/


 #app-main {
     display: flex;
     flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
 }

 .container-s {
     width: 60%
 }

 /* #region section-1*/
 .find-your-plan {
     display: flex;
     justify-content: flex-start;
 }

 .section-1>span {
     display: inline-block;
     margin: 2rem 1rem 2rem 0;
 }

 .container-plan {
     display: flex;
     justify-content: center;
     justify-content: space-between;  
 }

 .plan {
     width: calc((100%/12)*4);
     margin-bottom: 2rem;
     padding-bottom: 2rem;
 }

 .header-plan{
    display: flex;
    justify-content: center; 
    align-items: center;
    border-bottom: 1px solid rgb(182, 182, 182);
    width: 100%;
    height: 5%;
    vertical-align: middle;
 }

 .plan>div{
    margin: 2rem;
 }

 .plan h3{
    margin: 2rem;
 }

 .plan h4{
    margin: 2rem;
 }

 #hr{
    margin: 3rem 0;
    width: 40%;
    margin-left: 2rem;
 }

 .team {
     display: flex;
     justify-content: center;
     border-bottom-color: white;
     padding: 0.7rem;
 }

 /* #endregion sect5ion-1*/

 /* #region section 2*/
 .enterprise {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     padding: 2rem;
 }

 .container-contact-us {
     display: flex;
     margin: 2rem 0;
     margin-top: 8rem;
 }

 .contained-left {
     width: 60%;
 }

 .contained-right {
     width: 40%;
     padding: 4rem 2rem 2rem 2rem;
 }

 /* #endregion section-2*/

 /* #region section-3*/

 .drop-business {
    margin-bottom: 3rem;
 }

 .container-features {
     display: flex;
     justify-content: center;
     justify-content: space-between;
     flex-wrap: wrap;

 }

 .features {
     width: calc((100%/12)*4);
     padding: 1rem;
 }

 .social-approvment {}


 /* #endregion section-3*/

 /* #region Designit*/

 .designit {
     width: 100%;
     display: flex;
 }

 .des {
     display: flex;
     width: calc(100%/3);
     flex-wrap: wrap;
 }

 .des-center{
    padding: 3rem;
    background-color:#f5f5f5;
 }

 .des-center img{
    width: 50%;
 }

 .des span {
     width: calc(100%/2);
     aspect-ratio: 1/1;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 span img{
    align-items: center;
    justify-content: center;
    width: 50%;
    filter: invert(100%);
 }
 /* #endregion Designit*/

 /* #region free-tryal and faq*/

 .free-tryal {
     background: var(--color-7);
     width: 100%;
     display: flex;
     justify-content: center;
 }

 .container-free-tryal{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .h2{
    margin: 5rem;
    color:#77517e ;
 }

 .free-tryal-button-white {
    background-color:white;
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: fit-content;
    padding: 0.5rem;
    margin: 2rem 0;
}

 .faq {
     width: 100%;
     display: flex;
     justify-content: center;
 }

 .container-faq {    
   padding: 5rem;
 }

 /* #endregion free-tryal and faq*/

 /* #endregion Main*/

 /* #region footer*/

 #app-footer {
     background: black;
 }

 /* #endregion footer*/