 *{
 margin:0;
 padding:0;
 box-sizing:border-box;
 font-family: 'Open Sans', sans-serif;
 border: dashed black 1px;
}

/* #region Utility*/

:root{

--color-1:#b4d0e7;
--color-2:#0061ff;
--color-3:#b1b2b5;
--color-4:#9797f5;
--color-5:#a2d39b;
--color-6:#61082b;
--color-7:#b4d0e7;
--color-8:#0093ce;
--color-9:#0d2481;
--color-10:#ffd830;
--color-11:#77517e;
--color-12:#d5001f;
--color-13:#ff1c1c;

}

.bg-9{
    background-color: var(--color-9);
} 


/* #endregion Utility*/

.m-right-left{
    margin: 0 2rem;
}

/* #region header*/

#app-header{
     
}

nav{
    height: 3rem;
    display: flex;  
}


.nav-left{
    display: flex;
    width: 50%;
}

.nav-rigth{
    display:flex ;
    justify-content: flex-end;
    width: 50%;
}
.nav-links{
    margin: 0.7rem;
}
.jumbotron{
    background-color: #b4d0e7;
    height: 25rem;
    display: flex;
    justify-content: center;
}
.container-l{
    width: 70%;
   
}

   


/* #endregion header*/

/* #region Main*/


#app-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-s{
    width:60%    
}

/* #region sect5ion-1*/
.find-your-plan{
    
}

.section-1{
    
}

.container-plan{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    
}
.plan{
    width: calc((100%/12)*4);
    margin-bottom: 2rem;
}

.team{
    display: flex;
    justify-content:center;
}
/* #endregion sect5ion-1*/

/* #region section 2*/
.enterprise{
    height: 200px;

}

.container-contact-us{
    display: flex;
    
    
}

.container-contact-us{
    margin-bottom: 2rem;
}

.contained-left{
    width: 60%;
    
}
.contained-right{
    width: 40%;
    
}
/* #endregion section-2*/

/* #region section-3*/


.section-3{
    
}
.drop-business{
    height: 200px;
}

.container-features{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.features{
    width: calc((100%/12)*4);
    margin-bottom: 2rem;
    padding: 1rem;
}

.social-approvment{

}

/* #region Designit*/

.designit{
    width: 100%;
    display: flex;
    
}

.des{
    display: flex;
    width: calc(100%/3);
    flex-wrap: wrap;
}

.des span{
    width: calc(100%/2);
    aspect-ratio: 1/1;
}

/* #endregion Designit*/

/* #endregion section-3*/








/* #endregion Main*/